header{
    transition: box-shadow 0.5s ease;
    background-color: rgb(53, 89, 121, 0.5);
    padding-top: 10px;
    padding-bottom: 20px;
    margin:auto;
    text-indent:0.5cm;
    border-radius: 0.3cm;
    margin:40px;
    border-color: antiquewhite;
    font-family:'Open Sans', sans-serif;
}
body{
    background-image:url(libros.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:white;
}
h1 {font-weight: bolder;
    text-align: center;
    padding-top: 10px;
}
.btn-secondary {
    color: #fff;
    transition: box-shadow 0.5s ease;
    background-color: rgb(53, 89, 121, 0.5);
    border-color: #6c757d;
    text-decoration: none;
  }
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:rgb(36, 94, 202);
}
.dropdown-toggle{
    margin: 6px;
}
#botonRegLog{
   
    width: 20%;
    text-align:left;
    margin-top:5px;
}