<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap" rel="stylesheet">  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libreria</title>
</head>
<body>
<header>
    <h1>BASE DE DATOS DE LIBRERIA </h1>
   
</header>
<nav class="nav nav-pills nav-fill">
    <a class="nav-link active" aria-current="page" href="####">Ingresar</a>
    <a class="nav-link active" aria-current="page" href="/login">Crear Usuario</a>
  
  </nav>
  <br>
  <br>
    <table class="container">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="btn btn-secondary" aria-current="page" href="/OpcionesAutor">Ingresar Autor</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-secondary" aria-current="page" href="/OpcionesEditorial">Ingresar Editorial</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-secondary" aria-current="page" href="/OpcionesLibro">Ingresar Libro</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-secondary" aria-current="page" href="/OpcionesCliente">Ingresar Cliente</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-secondary" aria-current="page" href="/OpcionesPrestamo">Ingresar Prestamo</a>
            </li>
                    
        </ul>
    </table>
    <br>
    <table class="container">
      <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="btn btn-secondary" aria-current="page" href="/verAutores">Ver Autores</a>
            </li>            
        
        <li class="nav-item">
            <a class="btn btn-secondary" aria-current="page" href="/OpcionesPrestamo">Ver Editoriales</a>
        </li> 
        <li class="nav-item">
            <a class="btn btn-secondary" aria-current="page" href="/OpcionesPrestamo">Ver Libros</a>
        </li> 
        <li class="nav-item">
            <a class="btn btn-secondary" aria-current="page" href="/OpcionesPrestamo">Ver Clientes</a>
        </li>    <li class="nav-item">
            <a class="btn btn-secondary" aria-current="page" href="/OpcionesPrestamo">Ver Prestamos</a>
        </li>
      </ul>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>    
</body>
</html>